/* Contacto */

@each $name, $bg-color in $cardStyle {
    .paquetes__box-#{$name} {
        background-color: $bg-color;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
    }
};

.paquetes {
    padding: 2rem auto;
    width: 100%;
    text-align: center;
    @include flex-layout;
    flex-wrap: wrap;
    &__box {
        background-color: #f4f6fc;
        display: inline-block;
        width: 24rem;
        height: auto;
        margin: 2rem;
        border-radius: .5rem;
        @include box-shadow;
        &-premium {
            & .premium-title {
                @include cardTitle (#78cfbf);
            }
            & .premium-price {
                @include cardPrice;
            }
        }
        &-vip {
            & .vip-title {
                @include cardTitle(#3ec6e0);
            }
            & .vip-price {
                @include cardPrice;
            }
        }
        &-platinum {
            & .platinum-title {
                @include cardTitle(#F27935);
            }
            & .platinum-price {
                @include cardPrice;
            }
        }
        & .paquete__features p {
            font-size: 1.25rem;
            font-weight: 100;
            line-height: 2;
            padding: 1.5rem;
        }

    }
    @media (max-width: 895px) {
        padding: 1rem auto;
        &__box {
            margin: 1rem 2rem;
        }
        .paquete__features p {
            line-height: 2;
            padding: 1.25rem;
        }
    }
    @media (min-width: 896px) and (max-width:1024px) {
        &__box {
            margin: 1rem;
            width: 28%;
        }
        .paquete__features p {
            line-height: 1;
            padding: 1rem;
        }
    }
    @media (min-width: 1025px) and (max-width: 1343px) {
        &__box {
            margin: 2rem .75rem;
            width: 30%;
        }
        .paquete__features p {
            line-height: 1.5;
            padding: 2rem;
        }
    }
}

.formulario {
    background-color: #f4f6fc;
    width: 40%;
    border-radius: .25rem;
    margin: 2rem auto;
    padding: 3rem;
    @include box-shadow;
    &__title {
        font-size: 1.5rem;
        font-family: $secondary-font;
        font-weight: 700;
        text-align: center;
        color: $color-2;
    }
    &__sub {
        font-size: 1.5rem;
        font-weight: 100;
        text-align: center;
        padding: 2rem;
    }
    &__block {
        padding: .5rem;
        & .form-label {
            color: #010101;
            font-size: 1.5rem;
            font-weight: 400;
        }
        & .form-settings {
            width: 100%;
            margin: .25rem auto;
            padding: .5rem;
            border-radius: .25rem;
            font-size: 1rem;
            &:focus {
                border: 2px solid $color-1;
                outline: 0;
                border-radius: .25rem;
            }
        }
        & .form-options {
            color: #70757b;
            font-size: 1.25rem;
        }
        & .input-radio {
            margin: .65rem auto;
        }
        & .input-checkbox {
            @extend .input-radio;
        }
        & .form-date {
            padding: .5rem;
            margin: .5rem auto;
            border-radius: .25rem;
            font-family: inherit;
        }
        & .textarea {
            margin: 1rem auto;
            width: 100%;
            font-family: inherit;
            padding: 1rem;
            border-radius: .25rem;
            &:focus {
                border: 2px solid $color-1;
                outline: 0;
                border-radius: .25rem;
            }
        }
    }
    .botones {
        text-align: center;
        &__cancelar {
            @include buttonStyle($color-1);
            padding: .75rem;
            &:hover {
                transform: scale(1.1);
                background-color: $color-2;
                font-weight: 600;
            }
        }
        &__enviar {
            @include buttonStyle(#3B8C6F);
            padding: .75rem 1.5rem;
            &:hover {
                transform: scale(1.1);
                background-color: #37af65;
                font-weight: 600;
            }
        }
    }
    @media (max-width: 767px) {
        width: 85%;
        padding: 1rem;
        margin: 0 auto;
        &__sub {
            padding: .25rem .5rem;
        }
    }
    @media (min-width: 768px) and (max-width: 1343px) {
        width: 65%;
        padding: 1rem;
        margin: 0 auto;
        &__sub {
            padding: .25rem .5rem;
        }
    }
}

#footer-contacto {
    margin-top: 13rem;
    @media (max-width: 1280px) {
        margin-top: 10.5rem;
    }
}