/* Index */

.banner {
    background-image: url("../images/banner-landingpage.jpg");
    background-position: center;
    background-size: cover;
    height: 40rem;
    width: auto;
    &__bg {
        position: relative;
        @include flex-layout;
        flex-direction: column;
        top: 25%;
        background-color: rgba(246, 84, 87, 0.8);
        width: 22rem;
        border-radius: .5rem;
        padding: 1rem;
        margin: 0 auto;
        text-align: center;
        &--button {
            background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
            padding: .75rem 1rem;
            border: none;
            margin: 1.75rem;
            border-radius: .5rem;
            transition: all .5s ease-out;
            &:hover {
                transform: scale(1.2);
                background-position: right center;
            }
            .button-link {
                font-size: 1rem;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}

.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 4rem auto;
    text-align: center;
    &__box {
        width: 20rem;
        margin: 1rem;
        padding: 1rem;
        &--img {
            width: 70px;
            height: auto;
            max-width: 100%;
        }
        &--subtitle {
            margin: 1rem 2rem;
            padding: 1rem;
            font-weight: 800;
            font-family: $secondary-font;
            font-size: 1.75rem;
        }
        &--description {
            font-size: 1.5rem;
            margin: 1rem auto;
            line-height: 2;
            font-weight: 100;
        }
    }
}

/* Servicios */

.servicios {
    padding: 2rem;
    text-align: center;
    @include flex-layout;
    flex-wrap: wrap;
    &__box {
        margin: 2rem;
        &--img {
            width: 390px;
            margin: 2rem;
            -webkit-box-shadow: 10px 10px 8px 0px rgba(212,212,212,1);
            -moz-box-shadow: 10px 10px 8px 0px rgba(212,212,212,1);
            box-shadow: 10px 10px 8px 0px rgba(212,212,212,1); 
        }
        & figcaption a {
            font-size: 1.25rem;
            text-decoration: none;
            color: $color-1;
            transition: all .5s ease-out;
            &:hover {
                font-size: 1.5rem;
                color: $color-2;
            }
        }
    }
    @media (max-width: 811px) {
        padding: 1rem;
        &__box {
            padding: 0;
            margin: 1rem auto;
            &--img {
            width: 100%;
            margin: 1rem auto;
            }
        }
    }
    @media (min-width: 812px) and (max-width: 1280px) {
        padding: 1rem;
        &__box {
            padding: 0;
            margin: 1rem;
            &--img {
            margin: 1rem auto;
            }
        }
    }
}

#footer-servicios {
    margin-top: 10rem;
} 



/* Servicios btn */

.btn-servicios {
    background-color: $color-1;
    border-radius: .5rem; 
    border: none;
    &:hover {
        background-color: $color-2;
        transform: scale(1.1); 
    }
    & a {
        text-decoration: none;
        transition: transform .5s ease-out;
    }
}

/* Galeria */ 

.fotos {
    background-color: $bg-2;
    padding: 3rem;
    text-align: center;
    @include flex-layout;
    flex-wrap: wrap;
    &__img {
        width: 30%;
        height: auto;
        margin: 1.5rem;
        transition: transform .5s ease-out;
        -webkit-box-shadow: 10px 10px 8px 1px rgba(216,216,216,1);
        -moz-box-shadow: 10px 10px 8px 1px rgba(216,216,216,1);
        box-shadow: 10px 10px 8px 1px rgba(216,216,216,1);
        &:hover {
            transform: scale(1.15);
        }
    }
    @media (max-width: 991px) {
        padding: 1rem;
        &__img {
            margin: 1.5rem auto;
            width: 100%;
        }
    }
    @media (min-width: 992px) and (max-width: 1535px) {
        .fotos__img {
            width: 40%;
            height: auto;
        }
    }
}

.videos {
    background-color: $bg-2;
    padding: 3rem;
    text-align: center;
    @include flex-layout;
    flex-wrap: wrap;
    &__yt {
        margin: 1.5rem;
        transition: transform .5s ease-out;
        &:hover {
            transform: scale(1.15); 
        }
    } 
}

#footer-galeria {
    margin-top: 11rem;
}
/* Nosotros */

#footer-nosotros {
    margin-top: 10rem;
}
