$secondary-font: 'Nunito', sans-serif;
$color-1: #f65457;
$color-2: #eb0206;
$bg-2: #f4f6fc;
$font-white: #fff;

$cardStyle: (
    premium: #82DACA,
    vip: #53CFE9,
    platinum: #EB974E
);